body {
  background-color: #222222;
}

.context-menu {
  z-index: 999;
  width: 170px;
  /* height: 300px; */
  border: 3px solid black;
  border-radius: 3px;
  box-shadow: 3px 2px 7px 2px #222222;
  position: fixed;
  background-color: black;
  color: #00BE00;
  margin: 0px auto;
  font-size: 0.75rem;
  font-family: "Fira Code";
  font-weight: lighter;
}
.caption {
  border-radius: 3px;
  border: 1px solid black;
  background-color: #222222;
  text-align: center;
  margin-bottom: 5px;
  padding: 10px;
  cursor: default;
  font-weight: bold;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  padding: 0;
  margin: 0;
}
a {
  display: block;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px;
  
  background-color: #222222;
}
a:hover {
  background-color: #2F2F2F;
  cursor: pointer;
  font-weight: bold;
}
[data-id="DELETE users"]:hover {
  color: red;
  font-weight: lighter;
}