.container {
  width: 510px;
  height: 660px;
  background: lightgreen;
  outline: 3px solid #222222;
  overflow: hidden;
  margin: 0 auto;
}

.container h2 {
  text-align: center;
  margin: 10px auto 0;
}

.container {
  ::-webkit-scrollbar {
    width: 3px;
  }
  ::-webkit-scrollbar-track {
    background: #202020;
  }
  ::-webkit-scrollbar-thumb {
    background: #484848;
    border-radius: 3px;
  }
}