.container {
  width: 510px;
  height: 660px;
  background: lightgreen;
  outline: 3px solid #222222;
  overflow: hidden;
  margin: 0 auto;
}

.container h2 {
  text-align: center;
  margin: 10px auto 0;
}

.container .interface {
  text-align: center;
  padding: 10px 0;
}

.container .interface input[type="button"] {
  outline-color: #222222;
  transition: all .1s;
  border: 1px solid #222222;
  border-radius: 3px;
}

.container .interface input[type="button"]:hover {
  box-shadow: 1px 1px 1px 0px #222222;
  transition: all .2s;
}

.container {
  ::-webkit-scrollbar {
    width: 3px;
  }
  ::-webkit-scrollbar-track {
    background: #202020;
  }
  ::-webkit-scrollbar-thumb {
    background: #484848;
    border-radius: 3px;
  }
}
.container .pane table .error {
  color: red;
}


@import './components/pane/main';
@import './components/loader/main';
@import './components/user-list/main';
@import './components/validation/main';