.modal {
  z-index: 999;

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  
  margin: 0;
  padding: 0;
  
  background-color: rgba(0,0,0, .5);
  overflow: hidden;
}
.modal .modal-container {
  width: 250px;
  height: 150px;

  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 3px 2px 7px 2px black;
  
  margin: 0;
  padding: 0;
  
  background-color: lightgreen;
  
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}
.modal .modal-pane {
  /* outline: 1px solid green; */
  width: 80%;
  height: 40%;

  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 3px 2px 7px 0px black;

  padding: 15px 10px 15px 10px;
  
  background-color: #222222;
  
  color: #00BE00;
  font-size: .85rem;
  font-family: "Fira Code";
  font-weight: bold;
}
.modal .modal-interface {
  /* outline: 1px solid green; */
  width: 100%;
  
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.modal .modal-interface input[type="button"] {
  outline-color: #222222;
  transition: all .1s;
  border: 1px solid #222222;
  border-radius: 3px;
}

.modal .modal-interface input[type="button"]:hover {
  box-shadow: 1px 1px 1px 0px #222222;
  transition: all .2s;
}